<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kopo.poly.persistance.mapper.ICBoardMapper">

    <insert id="InsertBoardInfo" parameterType="CBoardDTO">
        INSERT INTO BOARD_INFO  (
            BOARD_CONTENTS,
            BOARD_WRITER,
            BOARD_REG_USER,
            FK_USER_SEQ,
            FK_GROUP_SEQ,
            FK_GROUP_USER_SEQ,
            FILE_SEQ
        )VALUES (
            #{board_contents},
            #{board_writer},
            #{board_writer},
            #{fk_user_seq},
            #{fk_group_seq},
            #{fk_group_user_seq},
            #{file_seq}
                  )
    </insert>

    <select id="getBoardList" parameterType="CBoardDTO" resultType="CBoardDTO">
      SELECT * FROM BOARD_INFO
      WHERE FK_GROUP_SEQ = #{fk_group_seq}

    </select>

    <select id="getBoardInfo" parameterType="CBoardDTO" resultType="CBoardDTO">
        SELECT * FROM BOARD_INFO
        WHERE BOARD_SEQ = #{board_seq}
    </select>

    <update id="UpdateBoardInfo" parameterType="CBoardDTO">
        UPDATE BOARD_INFO
        SET BOARD_CONTENTS = #{board_contents}, BOARD_REG_USER = #{board_reg_user}
        WHERE BOARD_SEQ = #{board_seq}
    </update>

    <update id="UpdateBoardFileInfo" parameterType="CBoardDTO">
        UPDATE BOARD_INFO
        SET BOARD_CONTENTS = #{board_contents}, BOARD_REG_USER = #{board_reg_user}, FILE_SEQ = #{file_seq}
        WHERE BOARD_SEQ = #{board_seq}
    </update>

    <delete id="DeleteBoard" parameterType="CBoardDTO">
        DELETE FROM BOARD_INFO
        WHERE BOARD_SEQ = #{board_seq}
    </delete>

    <select id="getBoardPath" parameterType="CFileDTO" resultType="CFileDTO">
        SELECT F.SERVER_FILE_PATH,F.SERVER_FILE_NAME,F.SERVER_FILE_NAME, F.ORIGIN_FILE_NAME
        FROM FILE_MORE_INFO F ,BOARD_INFO B
        WHERE F.FILE_MORE_SEQ = B.FILE_SEQ AND B.FK_GROUP_SEQ=#{group_seq}
        Limit 5;
    </select>
</mapper>