<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kopo.poly.persistance.mapper.ICMypageMapper">

    <select id="getUserInfo" parameterType="CUserDTO" resultType="CUserDTO">
        SELECT * FROM USER_INFO
        WHERE USER_SEQ = #{user_seq}
    </select>

    <!-- 비밀번호를 변경하는 쿼리 -->
    <select id="getFile" parameterType="CFileDTO" resultType="CFileDTO">
        SELECT SERVER_FILE_PATH FROM FILE_MORE_INFO
        WHERE FK_FILE_SEQ = #{fk_file_seq}
    </select>

    <delete id="deleteUser" parameterType="CUserDTO">
        DELETE FROM USER_INFO
        WHERE USER_ID = #{user_id} and USER_PASSWORD = #{user_password}
    </delete>

    <update id="updateUser" parameterType="CUserDTO">
       UPDATE USER_INFO
       SET STUDENT_ID = #{student_id}
       WHERE USER_ID = #{user_id} and USER_NAME = #{user_name}
    </update>

    <!-- 입력받은 현재 비밀번호와 사용중인 비밀번호가 일치하는지 조회 -->
    <select id="getPasswordCheckExists" parameterType="CUserDTO" resultType="CUserDTO">
        SELECT
            (CASE WHEN COUNT(1) THEN 'Y' ELSE 'N' END) AS EXISTS_YN
        FROM USER_INFO
        WHERE USER_ID = #{user_id} and USER_PASSWORD = #{password_check}
    </select>

    <!-- 변경할 비밀번호와 현재 비밀번호 같으면 변경 안되게 방지하기 -->
    <select id="getPasswordExists" parameterType="CUserDTO" resultType="CUserDTO">
        SELECT
            (CASE WHEN COUNT(1) THEN 'Y' ELSE 'N' END) AS EXISTS_YN
        FROM USER_INFO
        WHERE USER_ID = #{user_id} and USER_PASSWORD = #{user_password}
    </select>

    <!-- 비밀번호 변경 -->
    <update id="updatePassword" parameterType="CUserDTO">
        UPDATE USER_INFO
        SET USER_PASSWORD = #{user_password}
        WHERE USER_ID = #{user_id} and USER_PASSWORD = #{password_check}
    </update>
</mapper>